In [2]:
# Write a program to find all the Armstrong numbers present in between two intervals in Python.
# For example, Armstrong numbers between 100 and 2000


lower_number, higher_number = list(map(int, input("Enter the numbers that will be in the range = ").split()))
for i in range(lower_number, higher_number + 1) :
  if sum([int(j) ** len(str(i)) for j in str(i)]) == i :
    print(i)

Enter the numbers that will be in the range = 100  2000
153
370
371
407
1634

In [3]:
my_list = []

for i in range(100,2000):
  if len(str(i)) == 4 :
    if i == int(str([i][0])[0]) ** len(str(i)) + int(str([i][0])[1]) ** len(str(i))  + int(str([i][0])[2]) ** len(str(i)) + int(str([i][0])[3]) ** len(str(i)):
      my_list.append(i)
  else:
    if i == int(str([i][0])[0]) ** len(str(i)) + int(str([i][0])[1]) ** len(str(i))  + int(str([i][0])[2]) ** len(str(i)):
      my_list.append(i)

 

print(my_list)

[153, 370, 371, 407, 1634]